body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: grey;

}

/*********** HEADER ************/

header {
    font-family: 'Work Sans', serif;
    background-color: white;
    color: #4A4A4A;
    text-transform: bold;
    padding: 11px;
    letter-spacing: 2px;
}

header a {
    color: #4A4A4A;
    text-decoration: none;
    padding: 5px;
    margin: 0px;
}

header > h1 {
    display: inline-block;
}

header span {
    margin-left: 100px;
}

h1 {
    -webkit-text-stroke-width: 1px;
    font-family: 'Work Sans', serif;
    text-align: left;
    padding-top: 1%;
    padding-left: 5%;
    margin: 0px;
    color: #4A4A4A;
    text-decoration: none;
}

h2 {
    color: #686868;
    font-size: 26px;
    margin: 0px;
    margin-bottom: 3%;
    text-decoration: underline;
}

h3 {
    margin-left: 6.2%;
    margin-bottom: 3%;
}

a {
    color: #4A4A4A;
    font-family: 'Work Sans', serif;
    text-align: left;
    text-decoration: none;
}

div {
    font-family: 'Work Sans', serif;
    font-size:13px;
    text-align: left;
}

.container {
    position: relative;
    text-align: center;
}

.text {
    position: absolute;
    margin-right: 2%
}

img {
    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    border: 1px solid #eaeaea;
}

img.arrow {
    width: 2%;
    height: 2%;
    border: none;
    vertical-align: top;
    float: center;
}

img.cart {
    width: 2%;
    height: 2%;
    border: none;
}

img.cart:hover {
    box-shadow: 0 0 0px 0px #5B1723;
}

img.product {
    margin-left: 4.5%;
    margin-top: 4%;
    width: 40%;
}

img.detail {
    width: 83%;
}

img.more {
    width: 150px;
    height: 150px;
    float: center;
}

p {
    font-size: 13px;
    text-align: center;
    margin-top: 2%;
}

p.link{
    text-align: left;
    font-size: 13px;
    margin-left: 6.2%;
    margin-top: 1%;
}

img:hover {
    box-shadow: 0 0 2px 1px #5B1723;
}

.gallery img {
    transition: .5s ease;
    width: 100%;
    height: auto;
    opacity: 1;
}

.gallery img:hover {
    transition: .5s ease;
    opacity: .6;
    text-align: center;
}

.desc {
    font-size: 18px;
    padding: 15px;
    text-align: center;
    color: grey;
}

.desc a {
    text-decoration: none;
}

* {
    font-family: 'Work Sans', serif;
    box-sizing: border-box;
}

.responsive {
    display: inline-block;
    padding: 0 6px;
    float: left;
    width: 30%;
    text-align: center;
}

.column.padding {
    width: 4.5%;
}

.first {
    padding-left: 5%;
}

.column {
    float: left;
    padding: 10px;
}

.column.more {
    width: 100%;
    padding: 0px;
}

.column.product {
    margin-left: 4.3%;
    width: 45%;
    padding: 0px;
}

.column.info {
    width: 40%;
    padding: 0px;
}

.column.about {
    width: 25%;
    text-align: left;
    top: 50%;
    left: 75%;
    position: absolute;
}

.textbox {
    margin-left: 70%;
    margin-right: 3%;
    margin-top: 3%;
    background-color: white;
    opacity: .3;
    font-size: 15px;
    color: #5B1723;
    transition: 0.4s ease;
}

.textbox:hover {
    transition: 0.4s ease;
    opacity: .5;

}

.textbox p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    float: center;
    color: #5B1723;
    padding-top: 20px;
}

p.second {
    padding-top: 0px;
    padding-bottom: 20px;
}

.rowtext {
    font-size: 13px;
    margin-left: 6.3%;
    margin-top: 3%
}
.row2 {
    margin-top: 1%;
    margin-left: 1.6%;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column.product, .column.info {
        width: 100%;
    }
}


@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.description {
    font-size: 13px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.type {
    font-size: 13px;
    margin-top: 3%;
}

.size {
    font-size: 13px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.price {
    color: #686868;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: bold;
    font-size: 20px
}

button {
    color: grey;
    font-family: 'Work Sans', serif;
    border-radius: 5px;
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    font-size: 0.8em;
    transition: 0.4s ease;
}

button.cart {
    width: 95%;
    background-color: black;
    color: white;
}

button.cart:hover {
    background-color: #66CC99;
}

button.wishlist {
    width: 95%;
    margin-top: 1%;
}

button.wishlist:hover {
    border-color: #66CC99;
    background-color: white;
    color: grey;
}

button.prod {
    margin-top: 1%;
    width: 23%;
    padding: 2%;
}

input {
    padding: 10px;
    font-size: 0.8em;
}

textarea {
    font-family: 'Work Sans', serif;
    border-radius: 2px;
    border-color: grey;
    width: 95%;
    margin-top: 5%;
    margin-bottom: 6.5%;
}

nav {
    font-size: 18px;
}

select {
    color: grey;
    font-weight: 2000;
    font-family: 'Work Sans', serif;
    height: 30px;
    border: 1px solid #d3d3d3;
    white-space: nowrap;
    width: 95%;
}

select.name {
    font-weight: 700;
}

input {
    width: 50px;
    text-align: left;
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 2px;
}

hr {
    margin-left: 6.2%;
    width: 50%;
}